---
import type { HTMLAttributes } from 'astro/types'
import PortableText, { type PortableTextValue } from './portable-text'

type Props = {
  summary: PortableTextValue
} & HTMLAttributes<'details'>

const { summary, ...props } = Astro.props
---

<details {...props} data-expanded={props.open ? 'true' : 'false'}>
  <summary>
    <PortableText value={summary} class="heading" />
    <div class="icon"><div></div><div></div></div>
  </summary>
  <div class="content"><slot /></div>
</details>

<style lang="scss">
  details {
    border-bottom: 1px solid var(--neutral-500, #6f6f6f);
    &[data-expanded='true'] {
      .icon {
        div:first-child {
          transform: rotate(0deg);
        }
      }
    }
  }
  summary {
    padding: clamp(calc(24rem / 16), calc(42vw / 7.68), calc(42rem / 16)) 0;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;
    align-items: flex-start;
    .heading {
      max-width: calc(600rem / 16);
      font-size: clamp(calc(24rem / 16), calc(28vw / 7.68), calc(28rem / 16));
      font-weight: 600;
      color: var(--neutral-100, #e6e6e6);
    }
  }
  .icon {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      width: 26px;
      height: 2px;
      background-color: var(--neutral-300, #b8b8b8);
      &:first-child {
        position: absolute;
        transition: transform 0.5s var(--easing);
        transform: rotate(90deg);
      }
    }
  }
  .content {
    max-width: calc(600rem / 16);
    overflow: hidden;
    transition: height 0.5s var(--easing);
    :global(> :last-child) {
      margin-bottom: clamp(calc(24rem / 16), calc(42vw / 7.68), calc(42rem / 16));
    }
  }
  @media (min-width: calc(500rem / 16)) {
    summary,
    .content {
      padding-left: calc(20rem / 16);
      padding-right: calc(20rem / 16);
    }
  }
</style>

<script>
  document.querySelectorAll('details').forEach((details) => {
    const content = details.querySelector<HTMLDivElement>('.content')
    const summary = details.querySelector<HTMLDivElement>('summary')
    if (!content || !summary) return
    summary.addEventListener('click', (event) => {
      event.preventDefault()
      const parent = details.parentElement
      if (parent) {
        parent.querySelectorAll<HTMLDetailsElement>('details[open]').forEach((openDetails) => {
          if (openDetails !== details) {
            const openContent = openDetails.querySelector<HTMLDivElement>('.content')
            if (openContent) {
              openContent.style.height = openContent.scrollHeight + 'px'
              requestAnimationFrame(() => (openContent.style.height = '0px'))
              openDetails.setAttribute('data-expanded', 'false')
              openContent.addEventListener(
                'transitionend',
                () => {
                  openDetails.open = false
                  openContent.style.height = ''
                },
                { once: true }
              )
            }
          }
        })
      }
      if (details.open) {
        content.style.height = content.scrollHeight + 'px'
        requestAnimationFrame(() => (content.style.height = '0px'))
        details.setAttribute('data-expanded', 'false')
        content.addEventListener(
          'transitionend',
          () => {
            details.open = false
            content.style.height = ''
          },
          { once: true }
        )
      } else {
        details.setAttribute('data-expanded', 'true')
        details.open = true
        const startHeight = content.scrollHeight + 'px'
        content.style.height = '0px'
        requestAnimationFrame(() => (content.style.height = startHeight))
        content.addEventListener(
          'transitionend',
          () => {
            content.style.height = ''
          },
          { once: true }
        )
      }
    })
  })
</script>
