---
import type { HTMLAttributes } from 'astro/types'

type Props = {
  error?: string
} & HTMLAttributes<'span'>

const { error, ...props } = Astro.props
---

{
  error && (
    <span class="error" aria-live="assertive" role="alert" {...props}>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" fill="none">
        <path
          stroke="#FF6A59"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8 5.565v2.667m0 2.666h.007m6.66-2.666a6.667 6.667 0 1 1-13.333 0 6.667 6.667 0 0 1 13.333 0Z"
        />
      </svg>
      {error}
    </span>
  )
}

<style lang="scss">
  .error {
    margin-top: calc(6rem / 16);
    margin-left: auto;
    font-size: calc(12rem / 16);
    line-height: 158%;
    color: var(--error-100, #ffe2de);
    width: fit-content;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: calc(2rem / 16);
    svg {
      margin-top: calc(1rem / 16);
    }
  }
</style>
