.label {
  display: grid;
  width: fit-content;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: var(--neutral-600, #252423);
  cursor: pointer;
  &:not(:has(input:checked)):hover {
    .checkmark {
      background-color: var(--primary-200, #fbf6e9);
    }
  }
  &:active {
    .checkmark {
      transform: scale(0.9);
    }
  }
  &:has(input:focus-visible) {
    .checkmark {
      outline: 2px solid var(--primary-300, #ffe6a2);
      outline-offset: 5px;
    }
  }
  span[role='alert'] {
    grid-column: 2;
    margin-top: 0;
  }
}
.checkmark {
  width: 32px;
  height: 32px;
  border: 1px solid var(--neutral-500, #6f6f6f);
  background-color: var(--primary-100, #fbf6e9);
  display: grid;
  place-items: center;
  transition:
    background-color 500ms var(--easing),
    transform 500ms var(--easing);
  input {
    opacity: 0;
    position: absolute;
  }
  svg {
    transition: stroke-dasharray 0.5s var(--easing);
    stroke-dasharray: 0 17;
  }
  &:has(input[aria-invalid='true']) {
    border: 1px solid var(--error-500, #ff6a59);
    background: #ffe2de;
  }
  input:checked {
    + svg {
      stroke-dasharray: 17 17;
    }
  }
}
