.button {
  font-size: 1rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 2.75rem;
  padding: 0.75rem 2.25rem;
  @media (max-width: 499px) {
    width: 100%;
  }
  &[data-theme='primary'] {
    color: var(--neutral-700, #222);
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg, var(--primary-400, #dead26), var(--primary-500, #b18a1e));
    background-size: 220% 100%;
    background-position: 0% 0;
    transition: background-position 500ms var(--easing, ease);
    &::before {
      content: '';
      position: absolute;
      width: 1.875rem;
      height: 1.5rem;
      right: -0.0625rem;
      bottom: -0.0625rem;
      background-color: var(--neutral-600, #252423);
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }
    &:hover {
      background-position: 100% 0;
    }
  }
  &[data-theme='secondary'] {
    box-shadow: inset 0px 0px 0px 1px var(--primary-300, #ffe6a2);
    background: linear-gradient(90deg, var(--neutral-600, #252423), var(--neutral-650, #2c2c2c));
    background-size: 220% 100%;
    background-position: 0% 0;
    color: var(--primary-300, #ffe6a2);
    transition: background-position 500ms var(--easing, ease);
    &:hover {
      background-position: 100% 0;
    }
  }
}
:global([light-background]) {
  .button {
    &[data-theme='primary'] {
      &::before {
        background-color: var(--primary-100, #fbf6e9);
      }
    }
  }
}
