---
import sanityFetch from '@/utils/sanity.fetch'

type QueryProps = {
  socials: {
    facebook: string
    linkedin: string
  }
}

const data = await sanityFetch<QueryProps>({
  query: `
    *[_type == "global"][0] {
      socials {
        facebook,
        linkedin,
      }
    }
  `,
})
---

<footer class="footer" id="footer">
  <div class="max-width">
    <p class="copy">
      © 2024{' '}
      <a href="https://kryptonum.eu/pl" aria-label="Kryptonum">
        <svg xmlns="http://www.w3.org/2000/svg" width="88" height="16" fill="none">
          <title>Kryptonum</title>
          <path
            fill="#FFE6A2"
            d="M6.048 11.671 1.456 6.585v5.088H0V.52h1.456v5.168L6.064.52h1.84L2.848 6.104l5.104 5.567H6.048ZM11.194 4.328c.256-.502.619-.891 1.088-1.168.48-.278 1.062-.416 1.744-.416v1.504h-.384c-1.632 0-2.448.885-2.448 2.656v4.768H9.738V2.903h1.456v1.424ZM23.419 2.904 18.139 15.8h-1.504l1.728-4.225-3.536-8.671h1.616l2.752 7.104 2.72-7.104h1.504ZM26.498 4.52c.288-.502.715-.918 1.28-1.248.577-.342 1.243-.512 2-.512a4.06 4.06 0 0 1 2.113.56c.64.373 1.14.9 1.504 1.584.362.672.543 1.456.543 2.352 0 .885-.18 1.674-.544 2.368a4.003 4.003 0 0 1-1.503 1.615 3.974 3.974 0 0 1-2.112.576c-.747 0-1.409-.165-1.985-.495-.565-.342-.997-.763-1.296-1.264v5.776h-1.456V2.903h1.456V4.52Zm5.952 2.736c0-.662-.133-1.238-.4-1.728a2.754 2.754 0 0 0-1.087-1.12 2.946 2.946 0 0 0-1.489-.384 2.91 2.91 0 0 0-1.488.4c-.448.256-.81.634-1.088 1.136-.266.49-.4 1.06-.4 1.712 0 .66.134 1.242.4 1.744.278.49.64.869 1.088 1.136.46.256.955.384 1.488.384.544 0 1.04-.128 1.488-.384a2.863 2.863 0 0 0 1.088-1.136c.267-.502.4-1.088.4-1.76ZM37.791 4.104v5.168c0 .426.09.73.272.912.181.17.496.256.944.256h1.072v1.232h-1.312c-.81 0-1.419-.187-1.824-.56-.405-.374-.608-.987-.608-1.84V4.104h-1.136v-1.2h1.136V.696h1.456v2.208h2.288v1.2h-2.288ZM45.827 11.816a4.533 4.533 0 0 1-2.24-.56 4.07 4.07 0 0 1-1.568-1.584c-.373-.694-.56-1.494-.56-2.4 0-.896.192-1.686.576-2.368a4.009 4.009 0 0 1 1.6-1.584c.672-.374 1.424-.56 2.256-.56.832 0 1.584.186 2.256.56.672.362 1.2.885 1.584 1.568.395.682.592 1.477.592 2.384 0 .906-.203 1.706-.608 2.4a4.118 4.118 0 0 1-1.616 1.583c-.682.374-1.44.56-2.272.56Zm0-1.28c.523 0 1.014-.123 1.472-.368a2.748 2.748 0 0 0 1.104-1.104c.288-.491.432-1.088.432-1.792s-.139-1.302-.416-1.792c-.277-.491-.64-.854-1.088-1.088a2.983 2.983 0 0 0-1.456-.368c-.533 0-1.024.122-1.472.368-.437.234-.79.597-1.056 1.088-.267.49-.4 1.088-.4 1.792 0 .714.128 1.317.384 1.808.267.49.619.858 1.056 1.104.438.234.917.352 1.44.352ZM56.67 2.744c1.066 0 1.93.325 2.591.976.662.64.992 1.568.992 2.784v5.168h-1.44v-4.96c0-.875-.218-1.542-.656-2-.437-.47-1.034-.704-1.791-.704-.769 0-1.382.24-1.84.72-.449.48-.673 1.178-.673 2.096v4.848h-1.456V2.903h1.456v1.248a2.903 2.903 0 0 1 1.169-1.04 3.698 3.698 0 0 1 1.648-.368ZM70.568 2.904v8.768h-1.456v-1.296c-.277.447-.667.8-1.168 1.056a3.597 3.597 0 0 1-1.632.367c-.683 0-1.296-.138-1.84-.415a3.183 3.183 0 0 1-1.296-1.28c-.31-.566-.464-1.254-.464-2.064V2.904h1.44v4.944c0 .864.219 1.53.656 2 .437.458 1.034.688 1.792.688.779 0 1.392-.24 1.84-.72.448-.48.672-1.18.672-2.096V2.904h1.456ZM83.73 2.744c.683 0 1.29.144 1.824.432a3.01 3.01 0 0 1 1.264 1.264c.31.565.464 1.253.464 2.064v5.168h-1.44v-4.96c0-.875-.218-1.542-.656-2-.426-.47-1.008-.704-1.744-.704-.757 0-1.36.245-1.808.736-.448.48-.672 1.178-.672 2.096v4.832h-1.44v-4.96c0-.875-.218-1.542-.656-2-.426-.47-1.008-.704-1.744-.704-.757 0-1.36.245-1.808.736-.448.48-.672 1.178-.672 2.096v4.832h-1.456V2.903h1.456v1.264a2.89 2.89 0 0 1 1.152-1.056 3.562 3.562 0 0 1 1.616-.368c.736 0 1.387.165 1.952.496.566.33.987.816 1.264 1.456a2.876 2.876 0 0 1 1.216-1.44 3.582 3.582 0 0 1 1.888-.512Z">
          </path>
        </svg>
      </a>
    </p>
    <ul class="links">
      <li>
        <button class="link reset-cookies">ustawienia plików cookies</button>
      </li>
      <li>
        <a href="/polityka-prywatnosci" class="link" target="_blank" rel="noreferrer">polityka prywatnosci</a>
      </li>
    </ul>
    <ul class="socials">
      <li>
        <a href={data.socials.facebook} target="_blank" rel="noreferrer" aria-label="Facebook">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none">
            <path
              fill="currentColor"
              d="M20 10.237C20 4.68 15.523.176 10 .176S0 4.68 0 10.236c0 5.023 3.657 9.185 8.438 9.94v-7.03h-2.54v-2.91h2.54V8.02c0-2.521 1.492-3.914 3.777-3.914 1.094 0 2.238.196 2.238.196v2.476h-1.26c-1.243 0-1.63.776-1.63 1.572v1.887h2.773l-.443 2.908h-2.33v7.03C16.343 19.422 20 15.26 20 10.238Z">
            </path>
          </svg>
        </a>
      </li>
      <li>
        <a href={data.socials.linkedin} target="_blank" rel="noreferrer" aria-label="LinkedIn">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" fill="none">
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M1.5.176a1.5 1.5 0 0 0-1.5 1.5v15a1.5 1.5 0 0 0 1.5 1.5h15a1.5 1.5 0 0 0 1.5-1.5v-15a1.5 1.5 0 0 0-1.5-1.5h-15Zm4.02 4.002c.006.957-.71 1.546-1.559 1.542a1.502 1.502 0 0 1-1.493-1.54 1.493 1.493 0 0 1 1.54-1.505c.88.02 1.518.665 1.513 1.503Zm3.76 2.76H6.758v8.56h2.664V14.157c-.002-1.014-.003-2.029.003-3.042.001-.247.012-.502.075-.737.238-.878 1.027-1.445 1.907-1.305.566.088.94.416 1.097.949.097.333.14.692.145 1.04.012 1.047.01 2.094.008 3.142V15.496h2.671V13.935c-.001-1.13-.002-2.26.001-3.389a6.039 6.039 0 0 0-.178-1.508c-.187-.734-.574-1.341-1.203-1.78-.445-.312-.935-.513-1.482-.536a15.191 15.191 0 0 1-.188-.009c-.28-.015-.564-.03-.831.023-.765.154-1.437.504-1.945 1.121-.06.071-.117.143-.203.25l-.02.024V6.938ZM2.682 15.5h2.65V6.943h-2.65V15.5Z"
              clip-rule="evenodd">
            </path>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>

<style lang="scss">
  .footer {
    font-size: 1rem;
    padding: clamp(24px, calc(32vw / 7.68), 32px) 0 clamp(32px, calc(48vw / 7.68), 48px);
    @media (max-width: 499px) {
      padding-bottom: 64px;
    }
    & > .max-width {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 16px 24px;
    }
  }
  .copy {
    color: var(--primary-300, #ffe6a2);
    @media (max-width: 809px) {
      order: 1;
    }
    svg {
      vertical-align: middle;
    }
  }
  .links {
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px 24px;
  }
  .socials {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    @media (max-width: 629px) {
      order: -1;
      width: 100%;
    }
    a {
      display: grid;
      place-items: center;
      width: 44px;
      height: 44px;
      transition: color 0.3s;
      svg {
        display: block;
      }
      &:hover {
        color: var(--primary-300);
      }
      &:active {
        color: var(--primary-500);
      }
    }
  }
</style>

<script>
  import { setCookie } from '@/utils/set-cookie'
  const footer = document.querySelector('#footer')!
  const resetCookiesButton = footer.querySelector('.reset-cookies')!
  resetCookiesButton.addEventListener('click', () => {
    document.cookie.split(';').forEach((cookie) => {
      const eqPos = cookie.indexOf('=')
      const name = eqPos > -1 ? cookie.substring(0, eqPos) : cookie
      setCookie(name, '', -1)
    })
    window.location.reload()
  })
</script>
