---
import Button, { type ButtonDataProps } from '@components/ui/Button'

type Props = {
  nav_cta: ButtonDataProps
}

const { nav_cta } = Astro.props
---

<header>
  <div class="max-width">
    <nav>
      <a href="#main" aria-label="Przejdź na górę strony" class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="171" height="33" fill="none">
          <title>Stark House</title>
          <path
            fill="#DEAD26"
            d="M48.146 13.742a8.994 8.994 0 0 0-1.22-.497 4.058 4.058 0 0 0-1.263-.215c-.555 0-.996.126-1.322.378-.327.252-.49.596-.49 1.031 0 .307.108.574.327.801.217.227.5.428.847.601.346.173.713.329 1.1.468.327.118.652.26.974.423.322.163.615.364.878.601s.47.532.624.883c.153.35.23.784.23 1.297 0 .564-.14 1.076-.423 1.535-.282.46-.691.829-1.226 1.105s-1.175.415-1.918.415c-.467 0-.912-.052-1.338-.156a7.174 7.174 0 0 1-1.212-.408 5.412 5.412 0 0 1-1.019-.578l.7-1.246c.237.188.51.354.817.496.308.144.627.263.96.356.331.095.646.14.944.14.327 0 .648-.056.966-.17a1.88 1.88 0 0 0 .794-.534c.213-.242.32-.56.32-.957 0-.335-.095-.62-.282-.853a2.535 2.535 0 0 0-.729-.601 6.413 6.413 0 0 0-.98-.445 14.891 14.891 0 0 1-1.02-.416 4.935 4.935 0 0 1-.974-.578 2.667 2.667 0 0 1-.72-.838c-.184-.33-.276-.739-.276-1.223 0-.573.136-1.078.41-1.513a2.82 2.82 0 0 1 1.136-1.023c.486-.248 1.041-.376 1.666-.386.733 0 1.368.086 1.903.259.535.173 1.01.388 1.427.645l-.61 1.202h-.001ZM53.21 11.695h7.18v1.513h-2.838v9.24h-1.59v-9.24H53.21v-1.513ZM68.576 11.235h-.104l-4.757 11.213h1.575l1.1-2.684h4.037l1.062 2.684h1.814l-4.727-11.213Zm-1.634 7.18 1.502-3.67 1.45 3.67h-2.952ZM83.18 18.212c.39-.195.71-.44.96-.732a3.05 3.05 0 0 0 .618-1.135c.124-.42.186-.843.186-1.269 0-.543-.094-1.025-.282-1.445a2.903 2.903 0 0 0-.803-1.062 3.59 3.59 0 0 0-1.241-.652 5.313 5.313 0 0 0-1.569-.222h-2.944v10.753h1.576v-3.841h1.577c.091 0 .182-.002.27-.007l2.48 3.848h1.843l-2.67-4.236Zm-3.499-5.004h1.636c.376 0 .693.062.951.185.258.124.463.287.617.49.154.202.263.415.327.637.064.223.097.433.097.63 0 .199-.032.409-.097.63a1.687 1.687 0 0 1-.966 1.098c-.273.124-.608.186-1.003.186H79.68v-3.856ZM92.656 15.922l-.06.52.223-.297 4.222-4.45h2.05l-4.459 4.658 4.668 6.096h-2.006l-3.82-5.088-.833.801.016 4.287H91.05V11.695h1.606v4.228l-.001-.001ZM117.008 11.833v10.755h-1.591v-4.643h-5.47v4.643h-1.576V11.833h1.576v4.584h5.47v-4.584h1.591ZM122.078 17.079c0-.742.141-1.444.424-2.106a5.723 5.723 0 0 1 1.175-1.765 5.411 5.411 0 0 1 1.747-1.201 5.343 5.343 0 0 1 2.14-.43c.764 0 1.477.143 2.141.43a5.701 5.701 0 0 1 2.959 2.966c.287.662.431 1.365.431 2.106 0 .74-.144 1.473-.431 2.136a5.465 5.465 0 0 1-1.204 1.75 5.703 5.703 0 0 1-1.762 1.179 5.374 5.374 0 0 1-2.134.423 5.511 5.511 0 0 1-2.14-.415 5.39 5.39 0 0 1-1.747-1.164 5.47 5.47 0 0 1-1.175-1.743 5.47 5.47 0 0 1-.424-2.165v-.001Zm1.635 0c0 .553.099 1.07.297 1.55a3.887 3.887 0 0 0 2.074 2.106 3.8 3.8 0 0 0 1.523.304c.545 0 1.035-.102 1.501-.305a3.83 3.83 0 0 0 1.226-.845 3.973 3.973 0 0 0 1.122-2.81c0-.554-.102-1.07-.305-1.55a4.251 4.251 0 0 0-.825-1.269 3.77 3.77 0 0 0-2.766-1.172c-.545 0-1.052.104-1.524.312a3.837 3.837 0 0 0-2.044 2.136c-.188.484-.282.999-.282 1.543h.003ZM139.853 18.607c0 .455.114.865.342 1.23.228.367.53.658.907.876.376.218.803.327 1.278.327.476 0 .934-.108 1.316-.327.382-.217.684-.51.906-.875.223-.366.335-.776.335-1.231v-6.913h1.56v6.942c0 .79-.183 1.48-.55 2.07a3.765 3.765 0 0 1-1.494 1.371 4.43 4.43 0 0 1-2.074.49c-.754 0-1.47-.163-2.088-.49a3.784 3.784 0 0 1-1.479-1.372c-.367-.588-.55-1.277-.55-2.07v-6.941h1.59v6.913h.001ZM157.99 13.742a9.015 9.015 0 0 0-1.219-.497 4.066 4.066 0 0 0-1.264-.215c-.555 0-.996.126-1.322.378-.327.252-.491.596-.491 1.031 0 .307.109.574.327.801.218.227.501.428.848.601.346.173.713.329 1.1.468.327.118.651.26.974.423a4 4 0 0 1 .877.601c.263.237.471.532.625.883.153.35.231.784.231 1.297a2.86 2.86 0 0 1-.425 1.535c-.282.46-.691.829-1.226 1.105s-1.174.415-1.918.415c-.466 0-.911-.052-1.338-.156a7.143 7.143 0 0 1-1.211-.408 5.404 5.404 0 0 1-1.019-.578l.699-1.246c.238.188.511.354.818.496.307.144.627.263.959.356.332.095.647.14.944.14.328 0 .649-.056.966-.17.318-.114.583-.292.795-.534.213-.242.32-.56.32-.957 0-.335-.095-.62-.283-.853a2.53 2.53 0 0 0-.728-.601 6.437 6.437 0 0 0-.981-.445 14.859 14.859 0 0 1-1.019-.416 4.946 4.946 0 0 1-.974-.578 2.664 2.664 0 0 1-.721-.838c-.183-.33-.275-.739-.275-1.223 0-.573.136-1.078.409-1.513a2.823 2.823 0 0 1 1.137-1.023c.486-.248 1.041-.376 1.666-.386.733 0 1.368.086 1.903.259a6.55 6.55 0 0 1 1.427.645l-.609 1.202h-.002ZM164.031 11.695h7.061v1.513h-5.485v3.07h4.891v1.528h-4.891v3.115h5.694v1.528h-7.27V11.695ZM28.965 9.628l-2.763-1.83-1.88-1.245-2.94-1.948L19.5 3.36l-2.108-1.396-.772-.513-.934-.618-.537.349-.41.27-.77.505L2.28 9.634.397 10.87v15.563h30.447V10.875l-1.88-1.247ZM2.279 24.556V11.792L14.74 3.69v20.867H2.28Zm14.342 0V3.681l2.88 1.872v19.003h-2.88Zm4.76 0V6.776l2.94 1.913v15.867h-2.94Zm7.584 0h-2.763V9.912l2.763 1.796v12.848Z">
          </path>
        </svg>
      </a>
      <Button {...nav_cta} className="cta" />
    </nav>
  </div>
</header>

<style lang="scss">
  header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: var(--neutral-600, #252423);
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 4.5rem;
      .logo {
        svg {
          display: block;
          @media (max-width: 31rem) {
            width: 33px;
            height: 33px;
          }
        }
      }
      .cta {
        width: fit-content;
      }
    }
  }
</style>
