---
import PortableText, { PortableTextQuery, type PortableTextValue } from '@components/ui/portable-text'
import Button, { ButtonDataQuery, type ButtonDataProps } from '@components/ui/Button'

export const LandingFeature_Query = `
  _type == "LandingFeature" => {
    ${PortableTextQuery('heading')}
    ${PortableTextQuery('paragraph')}
    ${ButtonDataQuery('ctas[]')}
  },
`

type Props = {
  index: number
  sectionId?: string
  heading: PortableTextValue
  paragraph: PortableTextValue
  ctas: ButtonDataProps[]
}

const { index, sectionId, heading, paragraph, ctas } = Astro.props
---

<section class="LandingFeature" id={sectionId}>
  <header>
    <PortableText value={heading} heading={index === 0 ? 'h1' : 'h2'} class="h1" />
    <PortableText value={paragraph} class="paragraph" />
    <div class="cta-wrapper">
      {ctas?.map((cta) => <Button {...cta} />)}
    </div>
  </header>
</section>

<style lang="scss">
  .LandingFeature {
    header {
      max-width: 56rem;
      padding: clamp(3rem, calc(5vw / 0.48), 5rem) 0 clamp(5rem, calc(8vw / 0.48), 8rem);
      display: flex;
      flex-direction: column;
      gap: clamp(1rem, calc(24vw / 7.68), calc(24rem / 16));
      .paragraph {
        max-width: 48rem;
      }
    }
  }
</style>
