@font-face {
  font-family: 'Archivo';
  src:
    url('/fonts/Archivo-Regular.woff2') format('woff2'),
    url('/fonts/Archivo-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Archivo Fallback';
  src: local('Arial');
  ascent-override: 88.96%;
  descent-override: 21.28%;
  line-gap-override: 0%;
  size-adjust: 98.7%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --neutral-000: #fcfcfc;
  --neutral-100: #e6e6e6;
  --neutral-300: #b8b8b8;
  --neutral-500: #6f6f6f;
  --neutral-600: #3b3b3b;
  --neutral-650: #2c2c2c;
  --neutral-700: #222222;
  --neutral-900: #171717;

  --primary-100: #edebe7;
  --primary-300: #ffe6a2;
  --primary-400: #f4cb5b;
  --primary-500: #dbb039;

  --visited-500: #cca5ff;

  --error-100: #ffe2de;
  --error-500: #ff6a59;

  --success-100: #e0ffe9;
  --success-500: #3abf62;

  --easing: cubic-bezier(0, 0, 0.2, 1);
  --page-margin: clamp(calc(16rem / 16), calc(40vw / 7.68), calc(40rem / 16));
  @media (max-width: 899px) and (min-width: 600px) {
    --page-margin: clamp(calc(40rem / 16), calc(80vw / 7.68), calc(80rem / 16));
  }
}

[light-background] {
  background-color: var(--primary-100, #edebe7);
  color: var(--neutral-700, #222);
  --neutral-000: #fcfcfc;
  --neutral-100: #3b3b3b;
  --neutral-300: #6f6f6f;
  --neutral-500: #6f6f6f;
  --neutral-600: #3b3b3b;
  --neutral-650: #2c2c2c;
  --neutral-700: #222222;
  --neutral-900: #171717;

  --primary-100: #edebe7;
  --primary-300: #ffe6a2;
  --primary-400: #f4cb5b;
  --primary-500: #dbb039;

  --visited-500: #7a42c2;

  --error-100: #b02313;
  --error-500: #d13d2c;

  --success-100: #14652c;
  --success-500: #045d1f;
}

svg {
  max-width: 100%;
  height: auto;
}
canvas {
  touch-action: pan-y;
}
a {
  text-decoration: none;
  color: inherit;
}
label {
  display: block;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
::placeholder {
  color: inherit;
}
sup {
  font-size: 0.62em;
  vertical-align: top;
}
textarea {
  display: block;
}
input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
  border-radius: 0;
}
ul,
ol {
  list-style-type: none;
}
summary {
  cursor: pointer;
  list-style: none;
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}
iframe {
  border: none;
  display: block;
}
video {
  display: block;
  max-width: 100%;
  height: auto;
}
picture,
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

:focus {
  outline: none;
}
:focus-visible {
  outline: 2px solid var(--primary-400, #f4cb5b);
  outline-offset: 5px;
}

html,
body {
  overflow-x: clip;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 34px;
}
body {
  overflow: clip;
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  background: var(--neutral-700, #222);
  color: var(--neutral-300, #b8b8b8);
  font-family: 'Archivo', 'Archivo Fallback', sans-serif;
  font-size: clamp(1rem, calc(1.125vw / 0.48), 1.125rem);
  line-height: 1.58;
}

main,
.max-width {
  max-width: 1300px;
  width: calc(100% - var(--page-margin) * 2);
  margin: 0 auto;
  height: 100%;
}
main {
  display: grid;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  overflow-wrap: anywhere;
  line-height: 1.16;
  font-weight: 400;
  color: var(--neutral-100, #e6e6e6);
}
h1,
.h1 {
  font-size: clamp(calc(42rem / 16), calc(64vw / 7.68), calc(64rem / 16));
}
h1,
.h1,
h2,
.h2 {
  &::before {
    content: '// ';
    color: var(--primary-500, #dbb039);
    font-size: 0.875em;
  }
}
h2,
.h2,
h3,
.h3 {
  font-size: clamp(calc(32rem / 16), calc(48vw / 7.68), calc(48rem / 16));
}

.link {
  line-height: normal;
  text-decoration: underline;
  transition: color 0.5s;
  color: var(--neutral-100, #e6e6e6);
  &[target='_blank'] {
    &::after {
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI0U2RTZFNiIgc3Ryb2tlPSIjRTZFNkU2IiBkPSJNMS4yNjQgMWg3LjczdjhoLS44OTJWMi4zOTNMMS42MzEgOC44NjQgMSA4LjIzNGw2LjM0MS02LjM0MkgxLjI2NFYxWiIvPjwvc3ZnPg==');
      display: inline-block;
      margin-left: 5px;
      transition: transform 0.3s var(--easing);
    }
  }
  &:hover {
    color: var(--primary-300, #ffe6a2);
    &::after {
      transform: translate(1px, -1px);
    }
  }
  &:active {
    color: var(--primary-500, #dbb039);
  }
}
[light-background] {
  .link {
    &[target='_blank'] {
      &::after {
        content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzNCM0IzQiIgc3Ryb2tlPSIjM0IzQjNCIiBkPSJNMS43NTYuNzc3aDcuNzN2OGgtLjg5MVYyLjE3TDIuMTIzIDguNjQxbC0uNjMtLjYzIDYuMzQxLTYuMzQySDEuNzU2Vi43NzdaIi8+PC9zdmc+');
      }
    }
    &:hover {
      color: var(--primary-500);
    }
  }
}

.sec-wo-margin {
  margin: 0 calc(var(--page-margin) * -1);
  @media (min-width: 1380px) {
    margin: 0 calc((100vw - 1300px) / -2);
  }
}

.ordered-list,
.unordered-list {
  display: grid;
  gap: 8px;
}
.unordered-list {
  li {
    padding-left: 18px;
    position: relative;
    &::before {
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMyIgZmlsbD0iIzBGOTI4OCI+PHBhdGggZD0iTTUgLjgwMmMtLjM2NSAwLS42NDcuMTUyLS45MDQuMzg1LS4yMzUuMjE0LS40NzcuNTIzLS43NjIuODg2bC0uMDIuMDI1Yy0uNTgzLjc0My0xLjI0OCAxLjY2My0xLjc2OSAyLjU4NC0uNTEyLjkwNy0uOTIgMS44NzMtLjkyIDIuNjkzIDAgMi41NTggMS45MzMgNC42OCA0LjM3NSA0LjY4czQuMzc1LTIuMTIyIDQuMzc1LTQuNjhjMC0uODItLjQwOC0xLjc4Ni0uOTItMi42OTMtLjUyMS0uOTIxLTEuMTg2LTEuODQtMS43Ny0yLjU4NGwtLjAxOS0uMDI1Yy0uMjg1LS4zNjMtLjUyNy0uNjcyLS43NjItLjg4NkM1LjY0Ny45NTQgNS4zNjQuODAyIDUgLjgwMloiLz48L3N2Zz4=');
      width: 10px;
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
}
.ordered-list {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.cta-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: clamp(12px, calc(20vw / 7.68), 20px);
}

div.paragraph {
  & > *:not(:last-child) {
    margin-bottom: 8px;
  }
}

.Form {
  position: relative;
  &:has([data-form-state]) {
    & > *:not([data-form-state]) {
      display: none;
    }
  }
}
