.error {
  margin-top: calc(6rem / 16);
  margin-left: auto;
  font-size: calc(12rem / 16);
  line-height: 158%;
  color: var(--error-100, #ffe2de);
  width: fit-content;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: calc(2rem / 16);
  svg {
    margin-top: calc(1rem / 16);
  }
  animation: error 500ms var(--easing);
  @keyframes error {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
