.error {
  margin-top: 0.25rem;
  margin-left: auto;
  font-size: 0.75rem;
  color: var(--error-100, #ffe2de);
  width: fit-content;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.125rem;
  svg {
    margin-top: 0.0625rem;
  }
  animation: error 500ms var(--easing);
  @keyframes error {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
